<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 글쓰기 화면</title>
<link href="/css/index.css" rel="stylesheet" />
</head>
<body>
	<!--
		최신문법
		<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
	-->
	<div th:replace="/fragments/header.html :: fragment-menu"></div>
	<div class="outer">
		<form action="insert" method="post">
			<table align="center" width="700">
				<tr>
					<th colspan="2" bgcolor="gold" height="30">글 쓰 기</th>
				</tr>
				<tr>
					<td>제목</td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td><textarea name="content" rows="10" cols="50"></textarea></td>
				</tr>
				<tr>
					<td colspan="2"><hr></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="등록">&emsp;
						<input type="reset" value="다시쓰기">&emsp;
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>